* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  // font-family: sans-serif;
}

main {
  padding-top: 100px;
}

@import "./components/footer";
@import "./components/header";
@import "./app/home";
@import "./app/category";
@import "./app/about";
@import "./app/login";
@import "./static/banner";
@import "./static/product";
